@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");

.p1 {
    text-align: center;
    font-size: 50px;

    font-family: "Work Sans", sans-serif;
    color: white;
}

.p2 {
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    color: white;
}

.img1 {
    width: 100%;
    height: 100px;
}

#img1 {
    width: 100px;
    height: 50px;

    padding-left: 1200px;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
    background-color: #222;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    color: white;
}

body {
    margin: 0;
    background: #222;
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
}

header {
    background: #55d6aa;
}
/*
header::after {
    content: "";
    display: table;
    clear: both;
}*/

.logo {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.container ul {
    list-style: none;
    display: inline-block;
}

.container li {
    display: inline-block;
}

.container a {
    display: inline-block;
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

.container img {
    width: 80px;
}

.container a:hover {
    color: #000;
}
/*
nav a::before {
    content: "";
    display: block;
    height: 5px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}
*/
.img3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.img4 {
    height: 60%;
}

.container {
    /*background-color: red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
