@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
/* Body,title,text,column */
.ColorW {
    color: white;
    font-family: "Work Sans", sans-serif;
    text-align: center;
}   
/*  container,logo,row */
.ColorA {
    display: flex;
    align-items: center;
}
/* row,dropdown */
.ColorB {
    position: relative;
}
/* container,column */
.ColorC {
    background-color: #55d6aa;
}
/* ul,li,a,dropdown */
.ColorD {
    display: inline-block;
}
/* dropbtn,dropdown-content,column,input type=sumbit */
.ColorE {
    background-color: #222;
}
/* input type=sumbit,dropbtn, */
.ColorF {
    color: white;
}
/* a,classimg */
.ColorL {
    display: block;
}

.active {
    background-color: darkcyan;
}

.title {
    font-size: 50px;
}

.text {
    font-size: 20px;
}

.classimg {
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.row {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.column {
    margin: 5px;
    padding: 5px;
    
    flex-direction: column;
}

.column img {
    width: 500px;
    height: 500px;

}

.column div {
    width: 500px;
}

body {
    margin: 0;
    background: #222;
}


.logo {
    padding: 10px 0;
    margin-left: 100px;
    text-shadow: 0 0 5px #292626, 0 0 10px #292626, 0 0 15px #292626, 0 0 20px #292626, 0 0 25px #292626, 0 0 30px #292626, 0 0 35px #292626;
}

.container ul {
    list-style: none;
}


.container a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

.container img {
    width: 80px;
    margin-right: 100px;
}

.container a:hover {
    color: #000;
}

.container {
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
input[type=submit] {
    padding: 12px 20px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.container2 {
    margin-top: 200px;
    border-radius: 5px;
    padding: 20px;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    width: 103px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: #222;
    padding: 12px 16px;
}

.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}



@media only screen and (max-width: 600px) {

.ColorB {
    position: relative;
}  

.ColorE {
    background-color: #222;
}

.ColorC {
    background-color: #55d6aa;
}

.ColorF {
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
    
.column {
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    flex-direction: column;
    max-width: 70%;
}
    
.column img {
    max-width: 70%;
    width: 200px;
    height: 200px;
}
    
.column div {
    max-width: 70%;
    width: 70%;
}

.column text {
    font-size: 5px;
    margin-left: 30%;
    max-width: 70%;
    padding: 0px;
}  

.dropbtn {
    margin-left: 10%;
    padding: 16px;
    font-size: 95%;
    border: none;
}
      
.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
}
  
.dropdown-content a {
    color: black;
    padding: 2px;
    display: block;
    width: 70px;
    height: 30px;
}


.title , .text , .column , .container2 {
    margin-left: 25%;
}

.container {
    top: 0;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    position: fixed;    
    display: grid;
    align-items: center;
}

.logo {
    font-size: 95%;
    padding: 0px ;
    margin: 15px;
    margin-top: 10%;
    text-shadow: 0 0 5px #292626, 0 0 10px #292626, 0 0 15px #292626, 0 0 20px #292626, 0 0 25px #292626, 0 0 30px #292626, 0 0 35px #292626;
}
    
.container a {
    display: grid;
    color: #222;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 95%;
    padding: 2px;
}

.container img {
    padding: 0px ;
    width: 70px;
    height: 30px;
}


}

